In [1]:
import pandas as pd
import vnstock
from vnstock import *
from datetime import datetime

In [2]:
df1 = stock_historical_data(symbol='HPG', start_date= '2024-05-06' , end_date= '2024-05-06' , resolution="15", type="stock", beautify=False, decor=False, source='DNSE')

In [3]:
df1

                  time   open   high   low  close  volume ticker
0  2024-05-06 09:15:00  28.85  28.95  28.8   28.9  924000    HPG

In [4]:
print(type(df1.iloc[3,0]))

<class 'str'>

In [6]:
c = df1.iloc[-1,0]
c

'2024-04-01 14:45:00'

In [12]:
a = df1.iloc[4,0]
b = datetime.strptime(a, "%Y-%m-%d %H:%M:%S")
print(type(b))

<class 'datetime.datetime'>

In [15]:
print(b > datetime.now() - timedelta(days=50))

True