In [1]:
import pandas as pd
import vnstock
from vnstock import *
from datetime import datetime
import numpy as np

In [3]:
df = pd.read_csv("company.csv", index_col = False)
df

,Unnamed: 0,organCode,ticker,comGroupCode,icbCode,organTypeCode,comTypeCode,organName,organShortName
0,0,0104498100,VVS,UpcomIndex,3353,DN,CT,Công ty Cổ phần Đầu tư Phát triển Máy Việt Nam,Đầu tư Phát triển Máy Việt Nam
1,1,0108720772,VMK,UpcomIndex,7535,DN,CT,Công ty Cổ Phần Vimarko,Vimarko
2,2,0109204756,HIO,UpcomIndex,7535,DN,CT,Công ty Cổ Phần Helio Energy,Helio Energy
3,3,0313140100,SBG,VNINDEX,2727,DN,CT,Công ty Cổ Phần Tập Đoàn Cơ Khí Công Nghệ Cao ...,Tập Đoàn Cơ Khí Công Nghệ Cao Siba
4,4,0700519785,THM,UpcomIndex,3763,DN,CT,Công ty Cổ phần Tứ Hải Hà Nam,Tứ Hải Hà Nam
...,...,...,...,...,...,...,...,...,...
1606,1606,XUANMINHHP,XMP,UpcomIndex,7535,DN,CT,Công ty Cổ phần Thủy điện Xuân Minh,Thủy điện Xuân Minh
1607,1607,YBC,YBC,UpcomIndex,2353,DN,CT,Công ty Cổ phần Xi măng và Khoáng sản Yên Bái,Xi măng và Khoáng sản Yên Bái
1608,1608,YBMC,YBM,VNINDEX,1775,DN,CT,Công ty Cổ phần Khoáng sản Công nghiệp Yên Bái,Khoáng sản CN Yên Bái
1609,1609,YEGCORP,YEG,VNINDEX,5553,DN,CT,Công ty Cổ phần Tập đoàn Yeah1,Tập đoàn Yeah1
1610,1610,YTECO,YTC,UpcomIndex,4537,DN,CT,Công ty Cổ phần Xuất nhập khẩu Y tế Thành phố ...,XNK Y tế TP.HCM

In [4]:
df1 = stock_historical_data(symbol='HPG', start_date= '2024-05-07' , end_date= '2024-05-30' , resolution="1D", type="stock", beautify=False, decor=False, source='DNSE')
df1

          time   open   high    low  close    volume ticker
0   2024-05-07  26.73  27.45  26.59  27.41  30139200    HPG
1   2024-05-08  27.41  28.18  27.05  27.91  34289800    HPG
2   2024-05-09  28.09  28.09  27.32  27.68  19422700    HPG
3   2024-05-10  27.82  27.86  27.23  27.68  18981900    HPG
4   2024-05-13  27.77  27.86  27.36  27.45  13171500    HPG
5   2024-05-14  27.64  27.91  27.36  27.45  15664000    HPG
6   2024-05-15  27.50  28.50  27.50  28.36  45110300    HPG
7   2024-05-16  28.73  28.95  28.59  28.73  27403900    HPG
8   2024-05-17  28.73  28.73  28.32  28.73  28640900    HPG
9   2024-05-20  28.77  29.23  28.73  29.09  46490000    HPG
10  2024-05-21  29.09  29.09  28.59  28.95  20863500    HPG
11  2024-05-22  28.95  29.05  28.32  28.45  39782700    HPG
12  2024-05-23  28.85  29.50  28.60  29.50  37870200    HPG
13  2024-05-24  29.30  29.50  28.50  28.90  30151700    HPG
14  2024-05-27  28.90  29.30  28.65  28.90  15759100    HPG
15  2024-05-28  29.00  29.20  28.80  29.15  17564600    HPG
16  2024-05-29  29.10  29.25  28.60  28.60  21599400    HPG
17  2024-05-30  28.50  28.55  28.00  28.25  27257700    HPG

In [9]:
print(type(df1.loc[:, 'time'][1]))

<class 'datetime.date'>

In [7]:
df1.loc[:,'time']=pd.to_datetime(df1.loc[:,'time']).dt.tz_localize('Asia/Ho_Chi_Minh').values.astype(np.int64) // 10 ** 9

In [8]:
df1

         time  open  high    low  close    volume ticker
0  1715014800  29.4  30.2  29.25  30.15  30139200    HPG

In [3]:
df1

                  time   open   high   low  close  volume ticker
0  2024-05-06 09:15:00  28.85  28.95  28.8   28.9  924000    HPG

In [4]:
print(type(df1.iloc[3,0]))

<class 'str'>

In [6]:
c = df1.iloc[-1,0]
c

'2024-04-01 14:45:00'

In [12]:
a = df1.iloc[4,0]
b = datetime.strptime(a, "%Y-%m-%d %H:%M:%S")
print(type(b))

<class 'datetime.datetime'>

In [15]:
print(b > datetime.now() - timedelta(days=50))

True