In [1]:
import pandas as pd
import vnstock
from vnstock import *
from datetime import datetime

In [2]:
df1 = stock_historical_data(symbol='HPG', start_date= '2024-04-01' , end_date= '2024-04-01' , resolution="1", type="stock", beautify=False, decor=False, source='DNSE')

In [3]:
df1

                    time   open   high    low  close  volume ticker
0    2024-04-01 09:15:00  30.20  30.25  30.15  30.20  279400    HPG
1    2024-04-01 09:16:00  30.20  30.20  30.15  30.15   93500    HPG
2    2024-04-01 09:17:00  30.20  30.20  30.15  30.20  141600    HPG
3    2024-04-01 09:18:00  30.15  30.20  30.15  30.15  132300    HPG
4    2024-04-01 09:19:00  30.15  30.20  30.15  30.15   88100    HPG
..                   ...    ...    ...    ...    ...     ...    ...
221  2024-04-01 14:26:00  30.10  30.15  30.10  30.10   60700    HPG
222  2024-04-01 14:27:00  30.10  30.15  30.10  30.15   56400    HPG
223  2024-04-01 14:28:00  30.10  30.15  30.10  30.15   23300    HPG
224  2024-04-01 14:29:00  30.10  30.15  30.10  30.15  169100    HPG
225  2024-04-01 14:45:00  30.10  30.10  30.10  30.10  537100    HPG

[226 rows x 7 columns]

In [4]:
print(type(df1.iloc[3,0]))

<class 'str'>

In [6]:
c = df1.iloc[-1,0]
c

'2024-04-01 14:45:00'

In [12]:
a = df1.iloc[4,0]
b = datetime.strptime(a, "%Y-%m-%d %H:%M:%S")
print(type(b))

<class 'datetime.datetime'>

In [15]:
print(b > datetime.now() - timedelta(days=50))

True